### Install dependencies

In [1]:
# Change into ydb-sqlalchemy from pypi after release
%pip install --force-reinstall /Users/ovcharuk/work/ydb-sqlalchemy/dist/ydb_sqlalchemy-0.0.1b23-py2.py3-none-any.whl

Processing /Users/ovcharuk/work/ydb-sqlalchemy/dist/ydb_sqlalchemy-0.0.1b23-py2.py3-none-any.whl
Collecting sqlalchemy<3.0.0,>=2.0.7 (from ydb-sqlalchemy==0.0.1b23)
  Using cached SQLAlchemy-2.0.36-cp39-cp39-macosx_11_0_arm64.whl.metadata (9.7 kB)
Collecting ydb>=3.18.8 (from ydb-sqlalchemy==0.0.1b23)
  Using cached ydb-3.18.8-py2.py3-none-any.whl.metadata (2.1 kB)
Collecting ydb-dbapi>=0.0.1b8 (from ydb-sqlalchemy==0.0.1b23)
  Using cached ydb_dbapi-0.0.1b8-py3-none-any.whl.metadata (1.7 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy<3.0.0,>=2.0.7->ydb-sqlalchemy==0.0.1b23)
  Using cached typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Collecting grpcio>=1.42.0 (from ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached grpcio-1.67.1-cp39-cp39-macosx_10_9_universal2.whl.metadata (3.9 kB)
Collecting packaging (from ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached packaging-24.1-py3-none-any.whl.metadata (3.2 kB)
Collecting protobuf<5.0.0,>=3.13.0 (from ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached protobuf-4.25.5-cp37-abi3-macosx_10_9_universal2.whl.metadata (541 bytes)
Collecting aiohttp<4 (from ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached aiohttp-3.10.10-cp39-cp39-macosx_11_0_arm64.whl.metadata (7.6 kB)
Collecting aiohappyeyeballs>=2.3.0 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached aiohappyeyeballs-2.4.3-py3-none-any.whl.metadata (6.1 kB)
Collecting aiosignal>=1.1.2 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached aiosignal-1.3.1-py3-none-any.whl.metadata (4.0 kB)
Collecting attrs>=17.3.0 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached attrs-24.2.0-py3-none-any.whl.metadata (11 kB)
Collecting frozenlist>=1.1.1 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached frozenlist-1.5.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (13 kB)
Collecting multidict<7.0,>=4.5 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached multidict-6.1.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (5.0 kB)
Collecting yarl<2.0,>=1.12.0 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached yarl-1.17.1-cp39-cp39-macosx_11_0_arm64.whl.metadata (64 kB)
Collecting async-timeout<5.0,>=4.0 (from aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached async_timeout-4.0.3-py3-none-any.whl.metadata (4.2 kB)
Collecting idna>=2.0 (from yarl<2.0,>=1.12.0->aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached idna-3.10-py3-none-any.whl.metadata (10 kB)
Collecting propcache>=0.2.0 (from yarl<2.0,>=1.12.0->aiohttp<4->ydb>=3.18.8->ydb-sqlalchemy==0.0.1b23)
  Using cached propcache-0.2.0-cp39-cp39-macosx_11_0_arm64.whl.metadata (7.7 kB)
Using cached SQLAlchemy-2.0.36-cp39-cp39-macosx_11_0_arm64.whl (2.1 MB)
Using cached ydb-3.18.8-py2.py3-none-any.whl (793 kB)
Using cached ydb_dbapi-0.0.1b8-py3-none-any.whl (14 kB)
Using cached aiohttp-3.10.10-cp39-cp39-macosx_11_0_arm64.whl (391 kB)
Using cached grpcio-1.67.1-cp39-cp39-macosx_10_9_universal2.whl (11.0 MB)
Using cached protobuf-4.25.5-cp37-abi3-macosx_10_9_universal2.whl (394 kB)
Using cached typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Using cached packaging-24.1-py3-none-any.whl (53 kB)
Using cached aiohappyeyeballs-2.4.3-py3-none-any.whl (14 kB)
Using cached aiosignal-1.3.1-py3-none-any.whl (7.6 kB)
Using cached async_timeout-4.0.3-py3-none-any.whl (5.7 kB)
Using cached attrs-24.2.0-py3-none-any.whl (63 kB)
Using cached frozenlist-1.5.0-cp39-cp39-macosx_11_0_arm64.whl (52 kB)
Using cached multidict-6.1.0-cp39-cp39-macosx_11_0_arm64.whl (29 kB)
Using cached yarl-1.17.1-cp39-cp39-macosx_11_0_arm64.whl (91 kB)
Using cached idna-3.10-py3-none-any.whl (70 kB)
Using cached propcache-0.2.0-cp39-cp39-macosx_11_0_arm64.whl (46 kB)
Installing collected packages: typing-extensions, protobuf, propcache, packaging, idna, grpcio, frozenlist, attrs, async-timeout, aiohappyeyeballs, sqlalchemy, multidict, aiosignal, yarl, aiohttp, ydb, ydb-dbapi, ydb-sqlalchemy
  Attempting uninstall: typing-extensions
    Found existing installation: typing_extensions 4.12.2
    Uninstalling typing_extensions-4.12.2:
      Successfully uninstalled typing_extensions-4.12.2
  Attempting uninstall: protobuf
    Found existing installation: protobuf 4.25.5
    Uninstalling protobuf-4.25.5:
      Successfully uninstalled protobuf-4.25.5
  Attempting uninstall: propcache
    Found existing installation: propcache 0.2.0
    Uninstalling propcache-0.2.0:
      Successfully uninstalled propcache-0.2.0
  Attempting uninstall: packaging
    Found existing installation: packaging 24.1
    Uninstalling packaging-24.1:
      Successfully uninstalled packaging-24.1
  Attempting uninstall: idna
    Found existing installation: idna 3.10
    Uninstalling idna-3.10:
      Successfully uninstalled idna-3.10
  Attempting uninstall: grpcio
    Found existing installation: grpcio 1.67.1
    Uninstalling grpcio-1.67.1:
      Successfully uninstalled grpcio-1.67.1
  Attempting uninstall: frozenlist
    Found existing installation: frozenlist 1.5.0
    Uninstalling frozenlist-1.5.0:
      Successfully uninstalled frozenlist-1.5.0
  Attempting uninstall: attrs
    Found existing installation: attrs 24.2.0
    Uninstalling attrs-24.2.0:
      Successfully uninstalled attrs-24.2.0
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.3
    Uninstalling async-timeout-4.0.3:
      Successfully uninstalled async-timeout-4.0.3
  Attempting uninstall: aiohappyeyeballs
    Found existing installation: aiohappyeyeballs 2.4.3
    Uninstalling aiohappyeyeballs-2.4.3:
      Successfully uninstalled aiohappyeyeballs-2.4.3
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 2.0.36
    Uninstalling SQLAlchemy-2.0.36:
      Successfully uninstalled SQLAlchemy-2.0.36
  Attempting uninstall: multidict
    Found existing installation: multidict 6.1.0
    Uninstalling multidict-6.1.0:
      Successfully uninstalled multidict-6.1.0
  Attempting uninstall: aiosignal
    Found existing installation: aiosignal 1.3.1
    Uninstalling aiosignal-1.3.1:
      Successfully uninstalled aiosignal-1.3.1
  Attempting uninstall: yarl
    Found existing installation: yarl 1.17.1
    Uninstalling yarl-1.17.1:
      Successfully uninstalled yarl-1.17.1
  Attempting uninstall: aiohttp
    Found existing installation: aiohttp 3.10.10
    Uninstalling aiohttp-3.10.10:
      Successfully uninstalled aiohttp-3.10.10
  Attempting uninstall: ydb
    Found existing installation: ydb 3.18.8
    Uninstalling ydb-3.18.8:
      Successfully uninstalled ydb-3.18.8
  Attempting uninstall: ydb-dbapi
    Found existing installation: ydb-dbapi 0.0.1b8
    Uninstalling ydb-dbapi-0.0.1b8:
      Successfully uninstalled ydb-dbapi-0.0.1b8
  Attempting uninstall: ydb-sqlalchemy
    Found existing installation: ydb-sqlalchemy 0.0.1b23
    Uninstalling ydb-sqlalchemy-0.0.1b23:
      Successfully uninstalled ydb-sqlalchemy-0.0.1b23
Successfully installed aiohappyeyeballs-2.4.3 aiohttp-3.10.10 aiosignal-1.3.1 async-timeout-4.0.3 attrs-24.2.0 frozenlist-1.5.0 grpcio-1.67.1 idna-3.10 multidict-6.1.0 packaging-24.1 propcache-0.2.0 protobuf-4.25.5 sqlalchemy-2.0.36 typing-extensions-4.12.2 yarl-1.17.1 ydb-3.18.8 ydb-dbapi-0.0.1b8 ydb-sqlalchemy-0.0.1b23

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pandas jupysql matplotlib

Requirement already satisfied: pandas in ./.venv/lib/python3.9/site-packages (2.2.3)
Requirement already satisfied: jupysql in ./.venv/lib/python3.9/site-packages (0.10.14)
Requirement already satisfied: matplotlib in ./.venv/lib/python3.9/site-packages (3.9.2)
Requirement already satisfied: numpy>=1.22.4 in ./.venv/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas) (2024.2)
Requirement already satisfied: prettytable in ./.venv/lib/python3.9/site-packages (from jupysql) (3.12.0)
Requirement already satisfied: sqlalchemy in ./.venv/lib/python3.9/site-packages (from jupysql) (2.0.36)
Requirement already satisfied: sqlparse in ./.venv/lib/python3.9/site-packages (from jupysql) (0.5.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in ./.venv/lib/python3.9/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in ./.venv/lib/python3.9/site-packages (from jupysql) (3.1.4)
Requirement already satisfied: sqlglot>=11.3.7 in ./.venv/lib/python3.9/site-packages (from jupysql) (25.28.0)
Requirement already satisfied: jupysql-plugin>=0.4.2 in ./.venv/lib/python3.9/site-packages (from jupysql) (0.4.5)
Requirement already satisfied: ploomber-core>=0.2.7 in ./.venv/lib/python3.9/site-packages (from jupysql) (0.2.25)
Requirement already satisfied: contourpy>=1.0.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in ./.venv/lib/python3.9/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in ./.venv/lib/python3.9/site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in ./.venv/lib/python3.9/site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: importlib-resources>=3.2.0 in ./.venv/lib/python3.9/site-packages (from matplotlib) (6.4.5)
Requirement already satisfied: zipp>=3.1.0 in ./.venv/lib/python3.9/site-packages (from importlib-resources>=3.2.0->matplotlib) (3.20.2)
Requirement already satisfied: pyyaml in ./.venv/lib/python3.9/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.2)
Requirement already satisfied: posthog in ./.venv/lib/python3.9/site-packages (from ploomber-core>=0.2.7->jupysql) (3.7.0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: MarkupSafe>=2.0 in ./.venv/lib/python3.9/site-packages (from jinja2->jupysql) (3.0.2)
Requirement already satisfied: wcwidth in ./.venv/lib/python3.9/site-packages (from prettytable->jupysql) (0.2.13)
Requirement already satisfied: typing-extensions>=4.6.0 in ./.venv/lib/python3.9/site-packages (from sqlalchemy->jupysql) (4.12.2)
Requirement already satisfied: requests<3.0,>=2.7 in ./.venv/lib/python3.9/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.32.3)
Requirement already satisfied: monotonic>=1.5 in ./.venv/lib/python3.9/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (1.6)
Requirement already satisfied: backoff>=1.10.0 in ./.venv/lib/python3.9/site-packages (from posthog->ploomber-core>=0.2.7->jupysql) (2.2.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.venv/lib/python3.9/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.venv/lib/python3.9/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.venv/lib/python3.9/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in ./.venv/lib/python3.9/site-packages (from requests<3.0,>=2.7->posthog->ploomber-core>=0.2.7->jupysql) (2024.8.30)

[notice] A new release of pip is available: 24.1.2 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

## Actions with YDB

### Load DataFrame to work with

In [3]:
import pandas as pd
df = pd.read_csv('/Users/ovcharuk/work/ydb-python-examples/Mall_Customers.csv')
df

      id     sex  age  income  spending_score
0      1    Male   19      15              39
1      2    Male   21      15              81
2      3  Female   20      16               6
3      4  Female   23      16              77
4      5  Female   31      17              40
..   ...     ...  ...     ...             ...
195  196  Female   35     120              79
196  197  Female   45     126              28
197  198    Male   32     126              74
198  199    Male   32     137              18
199  200    Male   30     137              83

[200 rows x 5 columns]

### Create SA Engine and connect

In [4]:
import sqlalchemy as sa
engine = sa.create_engine("yql+ydb://localhost:2136/local")

In [5]:
conn = engine.connect()

### Prepare database to load dataframe into
There's no way to specify PK directly from `df.to_sql`, and `YDB` does not support tables without PK, so we have to prepare database first

In [6]:
conn.execute(sa.text("DROP TABLE IF EXISTS mall_customers"))
conn.execute(sa.text(
    """
    CREATE TABLE mall_customers (
	`id` Int64, 
	`sex` UTF8, 
	`age` Int64, 
	`income` Int64, 
	`spending_score` Int64,
    primary key (id)
    )
    """
))

### Load dataframe into YDB

In [7]:
df.to_sql("mall_customers", conn, if_exists='append', index=False)

-1

### Read YDB table into DataFrame

In [8]:
new_df = pd.read_sql("SELECT * FROM mall_customers", conn)

In [9]:
new_df

     age   id  income     sex  spending_score
0     19    1      15    Male              39
1     21    2      15    Male              81
2     20    3      16  Female               6
3     23    4      16  Female              77
4     31    5      17  Female              40
..   ...  ...     ...     ...             ...
195   35  196     120  Female              79
196   45  197     126  Female              28
197   32  198     126    Male              74
198   32  199     137    Male              18
199   30  200     137    Male              83

[200 rows x 5 columns]

### Using `sql` magic to work with YDB

In [10]:
%load_ext sql

In [11]:
%sql yql+ydb://localhost:2136/local

Connecting to 'yql+ydb://localhost:2136/local'

In [12]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'
# https://community.deeplearning.ai/t/error-while-querying-db-from-jupyter-notebook/716351

In [13]:
%%sql
SELECT sex, spending_score 
    FROM mall_customers
    WHERE age > 30

Running query in 'yql+ydb://localhost:2136/local'

138 rows affected.

+--------+----------------+
|  sex   | spending_score |
+--------+----------------+
| Female |       40       |
| Female |       6        |
|  Male  |       3        |
|  Male  |       14       |
| Female |       99       |
| Female |       15       |
|  Male  |       13       |
| Female |       35       |
|  Male  |       29       |
| Female |       98       |
+--------+----------------+
Truncated to displaylimit of 10.